.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;

}

.card-category {
  height: 250px;
  width: 350px;
  margin-top: 20px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  -webkit-box-align:center;
  -webkit-box-pack:center;
    display:-webkit-box;
}


.all-cards {
  width: 1200px;
  margin: auto;
  //margin-top: 50px;
    h1{
      text-align:center;
      margin: 30px;
    }
  }

.cocktail-name {
  font-size: 40px;
  font-weight: bold;
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color: #FFFAFB;
          a {
            text-decoration: none;
            color: #B8A2E4;
            -webkit-text-stroke-width: 0.25px;
            -webkit-text-stroke-color: #FFFAFB;
          }
 }

 .cocktail-name a:hover {
  color: #B8A2E4 ;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #B8A2E4;
 }

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

